<p>Listados component</p>

<div>
    <h1>My Heros</h1>
    <ol>
        <li *ngFor="let hero of heros; let i = index">
           {{hero}}
        </li>
    </ol>
</div>

<button (click)="deleteRandomHero()">Borrar heroe aleatorio</button>

<div *ngIf="deletedHeros.length > 0; else arrDeletedHerosEmpty">
    <h3>Deleted Heros</h3>
    <ol>
        <li *ngFor="let deleted of deletedHeros">
            {{deleted}}
        </li>
    </ol>
</div>

<ng-template #arrDeletedHerosEmpty>
    <h3>Deleted Heros</h3>
    <h5>Without deleted heros. 😊❤</h5>
</ng-template>

